/**
 * @author: v_zhichzhou
 * @time: 2022/10/09/0009 22:14
 *
 * index
 */

.field-item {
	margin-right: 20px;
	background: deeppink;
	padding: 10px;
	cursor: pointer;
	text-decoration: underline;
}
.field-item.current-field {
	text-decoration: none;
	background: pink;
}
